{% extends 'navbar.html'%}
{%load static%}
{% block about %}
<div class="about">
    <div class="aboutimage">
        <img src="{% static 'images/about.webp'%}" alt="image not Founded">
    </div>
    <div class="aboutcontent">
        <p>
        
        a passionate developer dedicated to crafting efficient and innovative development solutions for both local and global clients. With a strong foundation in various programming languages and technologies, I thrive on turning ideas into functional, user-friendly digital experiences.

        I have a diverse skill set that spans front-end and back-end development, with hands-on experience in frameworks like Django, React. I focus on delivering high-quality code that meets the needs of clients and end-users alike.
            <br>
        I’m always exploring new trends in technology, constantly enhancing my skills to offer the best solutions possible. My goal is to make an impact through development, by providing clients with the tools they need to succeed in the digital world.
            <br>
        When I’m not coding, I enjoy working on personal projects, learning new technologies, and staying engaged with the developer community.
        </p>
    </div>
</div>
{% endblock %}